{% extends 'lotus/base.html' %}

{% block content %}

<h2>Questions</h2>

<div class="questionBox">

    <!-- Questions pulled from question.py model  -      question_id = models.AutoField(primary_key=True) -->
    <!-- Question text is in attribute:     question_text = models.CharField(max_length=255) -->
    <h3>I'm feeling happy today!</h3>


    <br>

    <p>-  Select an option from 1 to 5  -</p>

    <div style="display: flex; flex-direction: row;">

        <div style="display: flex; flex-direction: column;">
            <label for="1">1 - (Strongly Disagree)</label>
            <input type="radio" id="1" name="1" value="1">
        </div>

        <div style="display: flex; flex-direction: column;">
            <label for="2">2 - (Disagree)</label>
            <input type="radio" id="2" name="2" value="2">
        </div>

        <div style="display: flex; flex-direction: column;">
            <label for="3">3 - (Neutral)</label>
            <input type="radio" id="3" name="3" value="3">
        </div>

        <div style="display: flex; flex-direction: column;">
            <label for="4">4 - (Agree)</label>
            <input type="radio" id="4" name="4" value="4">
        </div>

        <div style="display: flex; flex-direction: column;">
            <label for="5">5 - (Strongly Agree)</label>
            <input type="radio" id="5" name="5" value="5">
        </div>
    </div>

        

    <br>
    <br>

    <div>
        <a onclick="skipQuestion()" class="button" style="padding: 10px 25px;">Skip Question</a>
        <a onclick="nextQuestion()" class="button" style="padding: 10px 25px;">Next Question</a>
    </div>

<br>

<br>

<br>
<!-- <a id="topButton" href="#top"> Go to Top </a> -->
</div>


{% endblock %}