{% extends "base.html"%}

{% block content %}
<form class="form" method="POST">
    {% csrf_token %}
    <h2>Create a Memory</h2>
    <br>
    <h3>Memory Emotion:</h3>
    <select class="buttonBeige" name="emotion">
        <option value="happy">Happy</option>
        <option value="sad">Sad</option>
        <option value="angry">Angry</option>
        <option value="fearful">Fearful</option>
        <option value="disgusted">Disgusted</option>
        <option value="surprised">Surprised</option>
        <option value="neutral">Neutral</option>
        <option value="neutral">Anxious</option>
        <option value="neutral">Depressed</option>
        <option value="neutral">Excited</option>
        <option value="neutral">Joyful</option>
        <option value="neutral">Peaceful</option>
        <option value="neutral">Relaxed</option>
        <option value="neutral">Stressed</option>
        <option value="neutral">Tired</option>
    </select><br>
    <br>
    <h3>Memory Text:</h3>
    <textarea name="memory_text" class="text-input-memories"></textarea><br>
    <input class="buttonSmall" type="submit" value="Submit">
</form>

{% endblock %}