<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Open Lotus</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

</head>
<style>

h1{
    color: beige;
    font-size: 48px;
    text-decoration: lightgrey underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: beige;
    font-size: 28px;
}

h3{
    color: beige;
}

h4{
    color: beige;
}

h5{
    color: beige;
}

p{
    color: beige;
}

</style>
        <body>

            <a id="top"></a>
            
            <div class="navBar">
                <a href="{% url 'logout' %}"><strong>Logout</strong></a>
                <a href="{% url 'login' %}"><strong>Login</strong></a>
                <a href="{% url 'home' %}"><strong>Home</strong></a>
                <a href="{% url 'questions' %}"><strong>Questions</strong></a>
                <a href="{% url 'journal' %}"><strong>Journal</strong></a>
                <a href="{% url 'memories_base' %}"><strong>Memories</strong></a>


                <a style="position: absolute; right: 5px;" href="{% url 'settings' %}"><strong>
                    {% if user.is_authenticated %}
                        Welcome, {{ user.username }}!
                    {% else %}
                        Welcome, Guest!
                    {% endif %}
                </strong></a>

                
            </div>



            <br>
            <br>
            <div>
                <h1>Open Lotus</h1>
            </div>

            {% block content %}
            
            

            {% endblock %}


        


        </body>
        </html>
