{% extends 'base.html' %}
{% load static %}

{% block content %}
            
<div class="background"></div>

<div class="splashMenu">
    <a href="{% url 'questions' %}" class="buttonBeige">Questions</a>
    {%if admin %}
    <a href="{% url 'create_question' %}" class="button">Create Question</a>
    {% endif %}
    <a href="{% url 'journal' %}" class="button">Journal</a>
    <a href="{% url 'memories_base' %}" class="button">Memories</a>
    <br>
    <br>
    <br>
    <br>
    <a href="{% url 'settings' %}" class="buttonSmall" style="padding: 10px 25px;">Settings</a>

    <br>
    <a id="topButton" href="#top"> Go to Top </a>
</div>


{% endblock %}