{% extends 'base.html' %}

{% block content %}

<center>

    <b><h2>Login here</h2></b>

<form class="form" method="POST">
    {% csrf_token %}
         {% for message in messages %}
            {{message}}
         {% endfor %}<br>
        {% for forms in form %}
            {{ forms.label_tag }} <br>
            {{ forms }} {{ forms.errors }}<br>
        {% endfor %}
        <button class="buttonSmall" type="submit">Login
        </button>
        <div>
        </div>
        New User <a href="{% url 'register' %}" >Register</a> here

</form>
</center>
{% endblock %}