
{% block content %}
{% block title %}
<center><b><h2>Create an account here</h2></b>{% endblock %}
<form class="form" method="POST">
            {% csrf_token %}
  {% for field in form %}
            {{ field.label_tag }}<br>
    {{ field }} {{ field.errors }}<br>

    {% endfor %}
    <button style="background-color: blanchedalmond; 
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
   border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;"  type="submit">Signup</button><br>
    Existing User <a href="{% url 'login' %}" >Login</a> here
      </form>
</center>
{% endblock %}