{% extends 'base.html' %}

{% block content %}
            
<h2>Settings</h2>

<div class="splashMenu">
    <form id="userSettings">
        <label for="set-color">Color:</label>
        <input type="color" id="set-color" name="set-color" value = "#F5F5DC">
          <br>
        <button type="button" onclick="confirmSettings();"> Confirm </button>
      </form>
</div>

<script>
    function confirmSettings() {
        color = document.getElementById("userSettings").elements["set-color"].value
        setColor(color)
    }

    function setColor(color) {
        let r = document.querySelector(':root')
        r.style.setProperty('--user-color', color)
        setCookie("user-color", color, 3650)
    }
</script>

{% endblock %}