{% extends 'base.html' %}

{% block content %}
            
<h2>Settings</h2>

<div class="splashMenu">
    <form id="userSettings">
        <label for="set-color">Color:</label>
        <select class="dropdown" name="set-color" id="set-color">
            <option value="default" selected>Default</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
        </select>
          <br>
        <button class="button" type="button" onclick="confirmSettings();"> Confirm </button>
      </form>
</div>

<script>
    function confirmSettings() {
        color = document.getElementById("userSettings").elements["set-color"].value
        setColor(color)
    }

</script>

{% endblock %}