<div class="splashMenu">
    <a href="fullAssessment.html" class="buttonBeige">Full Assessment</a>
    <a href="guidedJournal.html" class="button">Guided Journal</a>
    <a href="moodTracking.html" class="button">Mood Tracking</a>
    <a href="blankJournal.html" class="button">Blank Journal</a>
    <a href="{% url 'create_memories' %}" class="button" style="padding: 10px 25px;">Create Memories</a>
<br>
<br>
<br>
<br>
<a href="services.html" class="buttonSmall" style="padding: 10px 25px;">Services</a>

<br>
<a id="topButton" href="#top"> Go to Top </a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
